[submodule "fundamentos/fundamentos/projetos/project-lessons-learned"]
	path = fundamentos/fundamentos/projetos/project-lessons-learned
	url = git@github.com:tryber/sd-031-b-project-playground-functions.git
