* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b2d1d1;
}

#cardBody {
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 650px;
  margin: 50px auto;
  padding: 12px;
  text-align: center;
  width: 400px;
}

#card {
  margin: 12px;
  text-align: center;
}

button {
  background-color: blueviolet;
  border-radius: 8px;
  color: white;
  font-size: bold;
  padding: 12px;
}
